{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>BloodDonate | Home</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        
        <link rel="stylesheet" href="{% static '/css/index.css' %}">
        <link rel="stylesheet" href="{% static '/css/navbar.css' %}">
        <link rel="stylesheet" href="{% static '/css/profile.css' %}">
            
        
 
    </head>
    <body>
    	{% include 'Home/navbar.html' %}
        
        {% block content %}   


        {% endblock %}
        
        {% include 'Home/requestBlood.html' %}
        {% include 'Home/footer.html' %}

        
        
        {% for message in messages %}
        {% if message.extra_tags == 'emaillogin' %}
            <script>
                if (confirm("Please Confirm your email account before you can login\nDidn't got mail?\nResend Now?")) {
                  window.location.assign("{% url 'UserAuthentication_app:sendMail' emailuser.username %}")
                } 
            </script> 
        {% elif message.extra_tags == 'mobilelogin' %}
            <script>
                if (confirm("Please Confirm your email account before you can login\nDidn't got mail?\nResend Now?")) {
                  window.location.assign("{% url 'UserAuthentication_app:sendMail' mobileuser.user %}")
                } 
            </script> 
        {% else %}
            <script>
                alert("{{ message }}")
            </script> 
        {% endif %}
        {% endfor %}
       {% block script %}
        {% endblock %}

        <script>
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#blah')
                            .attr('src', e.target.result)
                            .width(200)
                            .height(200);
                    };

                    reader.readAsDataURL(input.files[0]);
                    document.getElementById("blah").style.display = "block"; 
                }
                
            }
            
        </script>
        <script>
            $(document).on("change", ".file_multi_video", function(evt) {
                var $video = $('#video');
              var $source = $('#video_here');
              $source[0].src = URL.createObjectURL(this.files[0]);
              $source.parent()[0].load();
                $video.show();
            });
        </script>
        
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="{% static '/js/navbar.js' %}"></script>
    </body>
</html>
