{% if notification.is_seen == 0 %}
	<div class="row justify-content-md-center mt-3 bg-secondary">
	    <div class="col col-md-1">
	      <img src="{{notification.sender.profiledetails.profile_pic}}" height = '60' width="60" style="border-radius: 50%;">
	      <h2></h2>
	    </div>
	    <a href="{% url 'profile_app:viewPost' notification.post.id %}">
	    <div class="col-md-auto">
	      <p><strong>{{notification.sender.username}} </strong> has updated a post <br>
	      	<p>{{ notification.post.caption }}</p>
	      	<small>{{ notification.date }}</small>
	      </p>
	    </div>
		</a>
	    {% if notification.post.post_image %}
	    <div class="col col-md-1">
      		<img src="{{notification.post.post_image.first.image}}" height = '100' width="100">
	    </div>
	    {% endif %}		   
	</div>
{% else %}
	<div class="row justify-content-md-center mt-3 bg-light">
	    <div class="col col-md-1">
	      <img src="{{notification.sender.profiledetails.profile_pic}}" height = '60' width="60" style="border-radius: 50%;">
	      <h2></h2>
	    </div>
	    <a href="{% url 'profile_app:viewPost' notification.post.id %}">
	    <div class="col-md-auto">
	      <p><strong>{{notification.sender.username}} </strong> has updated a post <br>
	      	<p>{{ notification.post.caption }}</p>
	      	<small>{{ notification.date }}</small>
	      </p>
	    </div>
		</a>
	    {% if notification.post.post_image %}
	    <div class="col col-md-1">
      		<img src="{{notification.post.post_image.first.image}}" height = '100' width="100">
	    </div>
	    {% endif %}		   
	</div>
{% endif %}