<p>Some Usefull contact of organization.</p>
<ul>
     <li><a href="">Youth for blood-Kathmandu</a></li>
     <p>9843552882</p>
     <li><a href="">Youth for blood-Morang</a></li>
     <p>9862005225</p>
     <li><a href="">Youth for blood-Jhapa</a></li>
     <p>9817976211</p>
     <li><a href="">Youth for blood-Sunsari</a></li>
     <p>9862166535</p>
     <li><a href="">Youth for blood-Chitwan</a></li>
     <p>9845275212</p>
     <li><a href="">Nepal Red Cross Society Regional Blood Transfusion Service Center</a></li>
     <p>021-423326</p>
     <li><a href="">Blood Donors Association Nepal</a></li>
     <p>984-1443916, 984-6325923</p>
     <li><a href="">central blood bank-Kathmandu, Rabibhawan</a></li>
     <p>01-4288486</p>
     <li><a href="">Nepal Red Cross Society Blood Bank-Kathmandu, Soalteemod</a></li>
     <p>01-5006465</p>
     <li><a href="">Nepal Red Cross Society Lalitpur Blood Bank</a></li>
     <p>01-5527033</p>
     <li><a href="">Emergency Blood Transfusion service Center</a></li>
     <p>01-5186065</p>
     <li><a href="">Nepal Red Cross Society Bhaktapur District</a></li>
     <p>01-6611661</p>
     <li><a href="">Nepal Redcross Siraha Society</a></li>
     <p> 033-520095</p>
     <li><a href="">Nepal Red Cross Society Building-Lalitpur</a></li>
     <p> 01-5006465</p>
     <li><a href="">TU Lions Blood Transfusion & Research Center-Kthmandu</a></li>
     <p>  985-1145895</p>
     <li><a href="">Nepal Red Cross Society National Headquarter</a></li>
     <p>01-4270650</p>
     <li><a href="">Hamro Lifebank-Lalitpur</a></li>
     <p>980-1230045</p>
     <li><a href="">International Nepalese Blood Donors</a></li>
     <p>9841275247</p>                       
</ul>