<div class="mt-3">
  <div class="card">
    <div class="card-body">
      <div class="d-flex align-items-center">
        <img src="{{ post.author.profile_pic }}" height="50" width="50" alt="Profile Picture" style="border-radius: 50%;">
        <div class="ml-2">
          {% if post.post_type == 'profile_picture' %}
            <p><strong class="card-title mb-0">{{ post.author.user.first_name }} {{ post.author.user.last_name }}</strong> has updated profile Picture</p>
          {% elif post.post_type == 'post' %}
            <p><strong class="card-title mb-0">{{ post.author.user.first_name }} {{ post.author.user.last_name }}</strong> has created a post </p>
          {% endif %}
          <p class="card-text mt-0">
            <small class="text-muted">{{ post.created }}</small>
            {% if post.post_audience == 'public' %}
              <i class="fa fa-globe-asia">public</i>
            {% elif post.post_audience == 'followers' %}
                <i class="fa fa-globe-asia">follower</i>
            {% elif post.post_audience == 'private' %}
                <i class="fa fa-globe-asia">private</i>
            {% endif %}
          </p>             
        </div>
        <div class="menu-icon ml-auto mr-3  dropleft">
          {% if post.author.user.id == request.user.id %}
            <span class="fa fa-ellipsis-v" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="" data-toggle="modal" data-target="#{{post.id}}edit">Edit Post</a>
              <a class="dropdown-item" href="{% url 'profile_app:deletePost' post.id %}">Delete Post</a>
            </div>  
          {% else %} 
            <span class="fa fa-ellipsis-v" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Report Post</a>
            </div> 
          {% endif %} 
          <div class="modal fade" id="{{post.id}}edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Edit Post</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="{% url 'profile_app:editPost' post.id %}" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="form-group">
                    <textarea rows="2" cols="50" placeholder="Add story here..." autofocus name="caption" style="border: none; width: 100%; resize: none;">{{post.caption}}</textarea>                
                    <div class="d-flex">   
                    <img id="blah" src="#" alt="your image" style="display: none;" />
                      <video id="video" height="200" width="200" controls  style="display: none;">
                          <source src="" id="video_here" >
                            Your browser does not support HTML5 video.
                      </video>
                    </div>
                    <div class="d-flex justify-content-between">
                      <div class="file-input-wrapper">
                          <button class="btn-file-input">Photo</button>
                          <input type="file" name="postPhoto" accept="image/*" multiple/>                      
                      </div>
                      <div class="file-input-wrapper">
                        <button class="btn-file-input">Video</button>
                        <input type="file" name="file[]" class="file_multi_video" accept="video/*"/>
                      </div>
                    </div>
                    <select class="form-control mt-2" id="exampleFormControlSelect1" name="post_audience">
                      <option value="public">Public</option>
                      <option value="followers">Only Follower</option>
                      <option value="private">Only Me</option>
                    </select>
                    <button class="btn btn-primary btn-block mt-2" type="submit">Post</button>
                  </div>
                  </form>                      
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>                   
        </div>
      </div>
      <p class="card-text mt-2">{{ post.caption }}</p>
    </div>
    {% for post_image in post.post_image %}
      <img class="card-img-bottom" src="{{ post_image.image }}">                  
    {% endfor %}       
    <hr>
    <p>{{post.like.all.count}} people loved your post</p>
    <div class="d-flex m-0 justify-content-around">
      {% if request.user in post.like.all %}
        <a href="{% url 'profile_app:likeUnlike' post.id %}"><button type="button" class="btn btn-link">Unlike</button></a> |
      {% else %}
        <a href="{% url 'profile_app:likeUnlike' post.id %}"><button type="button" class="btn btn-link">Like</button></a> |
      {% endif %}
      <a href="{% url 'profile_app:viewPost' post.id %}" class="btn btn-link"> Comment <span class="badge badge-light">{{post.comments.all.count}}</span></a>  |
      <button type="button" class="btn btn-link">Share</button>
    </div>
    <hr>
    {% if not post.comments.all %} 
    <p class="text-center m-0"> No comments yet </p>
    {% else %}
    <ul class="list-group list-group-flush">          
      <li class="list-group-item">
        <div class="d-flex justify-content-start mt-2">
          <img src="{{ post.comments.last.user.profiledetails.profile_pic }}" height="50" width="50" alt="Profile Picture" style="border-radius: 50%;">
          <p><strong> {{post.comments.last.user.first_name}} </strong> <br> {{ post.comments.last.body }}</p> 
        </div>
      </li> 
    </ul>
    {% endif %}
  </div>
</div>  