{% load static %}
<div class="row mt-3">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <strong>Introduction</strong>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">From <strong>{{ user.permDistrict }}, {{ user.permCity }}</strong></li>
        <li class="list-group-item">Lives in <strong>{{ user.tempDistrict }}, {{ user.tempCity }}</strong></li>
        <li class="list-group-item">Blood Group <strong>{{ user.bloodGroup }}</strong></li>
        <li class="list-group-item">Following <strong> {{ user.following_count }} People </strong></li>
        <li class="list-group-item">Followed By <strong> {{ followed_by.count }} People </strong></li>
        <li class="list-group-item">Member Since <strong>{{ user.user.date_joined }}</strong></li>
        <li class="list-group-item m-auto"><a href="{% url 'profile_app:about' user.user.username %}">See More About {{ user.user.first_name }}</a></li>
      </ul>
    </div>
    <div class="card mt-3">
      <div class="card-header">
        <strong>Photos</strong>
      </div>
      <div class="card-body m-0 p-0">
        <img src="{{ user.profile_pic }}" width="100%" height="500rem">
      </div>
    </div>
  </div>
  <div class="col-md-8">
    {% if request.user.username == user.user.username %}
    {{postForm}}
    {{postImageForm}}
      <div class="card">
        <div class="card-header">
          Share Story
        </div>
        <div class="card-body">
            <form action="{% url 'profile_app:createPost' user.user.username %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                <textarea rows="2" cols="50" placeholder="Add story here..." autofocus name="caption" style="border: none; width: 100%; resize: none;"></textarea>                
                <div class="d-flex">   
                <img id="blah" src="#" alt="your image" style="display: none;" />
                  <video id="video" height="200" width="200" controls  style="display: none;">
                      <source src="" id="video_here" >
                        Your browser does not support HTML5 video.
                  </video>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="file-input-wrapper">
                      <button class="btn-file-input">Photo</button>
                      <input type="file" name="postPhoto" accept="image/*" multiple/>                      
                  </div>
                  <div class="file-input-wrapper">
                    <button class="btn-file-input">Video</button>
                    <input type="file" name="file[]" class="file_multi_video" accept="video/*"/>
                  </div>
                </div>
                <select class="form-control mt-2" id="exampleFormControlSelect1" name="post_audience">
                  <option value="public">Public</option>
                  <option value="followers">Only Follower</option>
                  <option value="private">Only Me</option>
                </select>
                <button class="btn btn-primary btn-block mt-2" type="submit">Post</button>
              </div>
            </form>                                    
        </div>
      </div>
      {% for post in my_profile_posts %}
        {% include 'Profile/Timeline/post.html' %}
      {% endfor %}

    {% else %} 
        {% for post in user_profile_posts %}
          {% include 'Profile/Timeline/post.html' %}
        {% endfor %}
    {% endif %}          
  </div>
</div>

