<div class="card mt-3">
	<div class="card-header">
		<strong>Photos</strong>
	</div>
	<div>	
		<h5 class="ml-2">Profile Picture</h5>	
		{% for post in my_profile_posts %}
			{% if post.post_type == 'profile_picture' %}
				{% for post_image in post.post_image %}
	                <img class="card-img-bottom" src="{{ post_image.image }}">                  
	             {% endfor %} 
	        {% endif %} 
		{% endfor %}
		<h5 class="ml-2">Mobile Uploads</h5>	
		{% for post in my_profile_posts %}
			{% if post.post_type == 'post' %}			
				{% for post_image in post.post_image %}
	                <img class="card-img-bottom" src="{{ post_image.image }}">                  
	            {% endfor %} 
			{% endif %}
		{% endfor %}
	</div>
</div>